.filter-container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
}



.filter-title {
  font-size: 20px;
  letter-spacing: 0.9px;
  
}

.filter-input {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 17px;
  padding: 15px 50px 0 0;
}

.filter-input > div {
  background-color: rgba(76, 96, 133, 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  height: 50px;
  padding: 0 10px 0 5px;
}

.filter-input-game img:first-child {
  width: 25px;
  height: 25px;
  margin: 10px;
}

.filter-input-search img {
  width: 28px;
  height: 18px;
}
.filter-arrow img {
  margin-left: 10px;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.filter-input-search input,
.filter-input-game input {
  width: 100%;
  font-weight: 500;
  color: white;
  outline: none;
}

.filter-input-search input::placeholder,
.filter-input-game input::placeholder {
  color: rgb(172, 172, 172);
  font-weight: 300;
  font-size: 15px;
}

.filter-Price-Type {
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  color: #fff;
}

.filter-bag-price {
  width: 50%;
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 1rem;
}

.filter-bag-price div {
  width: 60px;
}

.filter-br {
  height: 50px;
  padding: 0 10px 0 0;
  border-right: solid 1px #546388;
}

.filter-bag-price:nth-child(1) img,
.filter-bag-price:nth-child(2) img {
  width: 17px;
  height: 19px;
}

.filter-bag-price div:nth-child(2) {
  font-size: 14px;
}

@media (max-width: 1223px) {
  .filter-container {
    padding-top: 35px;
  }

  .filter-title {
    padding-left: 19px;
    font-size: 16px;
  }

  .filter-input {
    grid-template-columns: 1fr;
    padding: 15px 20px;
  }

  .filter-input-search input,
  .filter-input-game input,
  .filter-bag-price div input {
    width: 936px;
    margin: 0 auto;
    max-width: 100%;
    padding: 10px 30px;
  }

 

  
}
@media (max-width: 1022px) {
  .filter-input {
    padding: 10px 0;
  }

  .filter-title {
    position: relative;
    left: -5px;
    padding-left: 5px;
    font-size: 15px;
  }

  .filter-input-search,
  .filter-input-game {
    width: 800px;
    padding: auto;
  }

  .filter-Price-Type {
    display: flex;
    width: 800px;
  }

  .filter-wrapper {
    width: 800px;
  }
}

@media (max-width: 810px) {
  .filter-input {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
  }

  .filter-title {
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;
    position: relative;
    left: -5px;
    padding-left: 5px;
    font-size: 15px;
  }

  .filter-input-search,
  .filter-input-game {
    width: 370px;
    padding: auto;
  }

  .filter-Price-Type {
    display: flex;
    width: 370px;
  }

  .filter-wrapper {
    width: 800px;
  }
}

/*
.filter-wrapper {
  width: 370px;
}*/