@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;400;700&display=swap");

:root {
  --primary: #303141;
  --secondary: #3f465e;
  --font: #fff;
  --font-gris: #cbcbcf;
  --btn-blue-bg: #5762d5;
  --btn-blue-sm: #454da8;
  --btn-green-bg: #39e29d;
  --shadow: 0 15px 15px -2px #33334b;
  --border-blue: #4c6085;
  --font-green: rgb(57, 226, 157);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style-type: none;
}

h1,
h3,
h4 {
  color: var(--font);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  background-color: transparent;
}

input {
  background-color: transparent;
  border: none;
}
